<% if (contracts.length){ %>
<h2>Contracts</h2>
<% for (let contract of contracts){ %>
<div class="card mb-3">
  <div class="card-body d-flex flex-column">
    <h5 class="card-title">Job Title: <%= contract.proposal.job.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Agreed price: <%= contract.proposal.price %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Status: <%= contract.status %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Duration: <%= contract.proposal.job.duration %></h6>
    <p class="card-text">Job Details: <%= contract.proposal.job.description %></p>
    <% if (contract.status === "Running"){ %>
    <div class="card-footer bg-warning mt-auto">
      This contract is currently running.
    </div>
    <form action="/employers/<%= contract.proposal.job.employer %>/contracts/<%= contract._id %>/complete?_method=PUT" method="post">
      <button type="submit" class="btn btn-success position-absolute" style="right: 1rem; bottom: 1.1rem;">Complete</button>
    </form>
    <% }else{ %>
    <div class="card-footer bg-success mt-auto">
      This contract was successfully completed.
    </div>
    <% } %>
  </div>
</div>
<% } %>

<% }else{ %>
<h3>You currently have no running contracts.</h3>
<% } %>