<% if (contracts.length){ %>
<div class="row">
  <div>
    <h2>Contracts</h2>
    <div>
      <% for (let contract of contracts){ %>
      <div class="col-md-12">
        <div class="view-job d-flex flex-column">
          <p class="text-primary"><strong><%= contract.status.toUpperCase() %></strong></p>
          <h5><%= contract.proposal.job.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-tag"></i> $<%= contract.proposal.price %>-<%= contract.proposal.period %></h6>

          <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-alarm"></i> <%= contract.proposal.job.duration %></h6>
          <p class="card-text"><i class="bi bi-info-square"></i> <%= contract.proposal.job.description %></p>


          <% if (contract.status === "Running"){ %>
          <div class="col-md-12">
            <h3 class="bg-warning border rounded p-2">
              This contract is currently running.
            </h3>
          </div>
          <form action="/employers/<%= contract.proposal.job.employer %>/contracts/<%= contract._id %>/complete?_method=PUT" method="post">
            <button type="submit" class="btn btn-success position-absolute complete">Complete</button>
          </form>
          <% }else{ %>
          <div class="bg-success p-2 border rounded">
            Please leave Feedback below.!

          </div>
          <form action="/employers/<%= contract.proposal.job.employer %>/review/<%= contract.proposal.user %>/job/?title=<%= contract.proposal.job.title %>" method="post" class="mt-3">
            <div class="mb-3">
              <label for="rating" class="form-label mt-2"> <strong>Rating</strong></label>
              <fieldset class="starability-basic">
                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
              <textarea class="form-control" rows="3" placeholder="Leave a comment here." id="floatingTextarea" name="review[text]"></textarea>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</div>

<% }else{ %>
<div class="row">
  <div class="col-md-12">
    <h3 class="text-danger border rounded p-2">You currently have no contracts.</h3>
  </div>
</div>
<% } %>