<div class="cotainer-fluid">
  <h2>Profile Page</h2>
  <p>Name: <%= employer.username %>
  </p>
  <p>Company: <%= employer.company %>
  </p>
  <p>Email: <%= employer.email %>
  </p>
  <p>Address: <%= employer.location %>
  </p>
  <p>Contact: <%= employer.contact %>
  </p>
  <a href="/employers/<%= employer._id %>/jobs/new" class="btn btn-primary">Post a Job</a>
  <form action="/employers/<%= employer._id %>?_method=DELETE" method="post">
    <button type="submit" class="btn btn-danger my-2">Delete Account</button>
  </form>

  <h3>Posted Jobs:</h3>
  <% if (employer.jobs.length){ %>
  <ul>
    <% for (let job of employer.jobs){ %>
    <li>
      <%= job.title %>
    </li>
    <% } %>
  </ul>
  <% } else { %>
  <p>You haven't posted any job yet.!</p>
  <% } %>
</div>

<% if (employer.reviews.length) {%>
<h4>Feedback</h4>
<ul>
  <% for (let review of employer.reviews){ %>
  <p>Job Title: <%= review.jobTitle %></p>
  <p class="starability-result" data-rating="<%= review.rating %>">
  </p>
  <p> Comment: <%- review.text %></p>
  <% } %>
</ul>

<% } %>