<div class="row">
  <div class="col-md-7">
    <div class="profile">
      <h2>Profile Page</h2>
      <p><i class="bi bi-person-circle"></i> <%= employer.username %>
      </p>
      <p><i class="bi bi-layers"></i> <%= employer.company %>
      </p>
      <p><i class="bi bi-envelope"></i> <%= employer.email %>
      </p>
      <p><i class="bi bi-geo-alt"></i> <%= employer.location %>
      </p>
      <p><i class="bi bi-person-lines-fill"></i> <%= employer.contact %>
      </p>
      <div class="d-flex justify-content-end">
        <a href="/employers/<%= employer._id %>/jobs/new" class="btn btn-primary">Post a Job</a>
        <form action="/employers/<%= employer._id %>?_method=DELETE" method="post">
          <button type="submit" class="btn btn-danger ms-2">Delete Account</button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="detail">
      <h3>Posted Jobs:</h3>
      <% if (employer.jobs.length){ %>
      <% for (let job of employer.jobs){ %>
      <div class="mb-2">
        <div>
          <a href="/jobs/<%= job._id %>" class="btn btn-info"><%= job.title %></a>
        </div>
      </div>
      <% } %>
      <% } else { %>
      <p>You haven't posted any job yet.!</p>
      <% } %>
    </div>
  </div>
</div>

<% if (employer.reviews.length) {%>

<div class="row">
  <div class="col-md-12">
    <div class="rating p-4 border rounded">
      <h4 class="mb-4">Feedback</h4>
      <ul class="list-unstyled">
        <% for (let review of employer.reviews){ %>
        <li class="mb-4 p-3 border rounded bg-light">
          <h5 class="mb-2"><%= review.jobTitle %></h5>
          <p class="starability-result" data-rating="<%= review.rating %>"></p>
          <p><%- review.text %></p>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>

<% } %>