<% if (contracts.length){ %>
<h2>Contracts</h2>
<% for (let contract of contracts){ %>
<div class="row">
  <div class="col-md-12">
    <div class="view-job">
      <div>
        <p class="text-primary"><strong><%- contract.status.toUpperCase() %></strong></p>
        <h5><%= contract.proposal.job.title %></h5>
        <h6 class="text-muted"><i class="bi bi-tag"></i> $<%= contract.proposal.price %>-<%- contract.proposal.period %></h6>

        <h6 class="text-muted"><i class="bi bi-alarm"></i> <%= contract.proposal.job.duration %></h6>
        <p class="card-text"><i class="bi bi-info-square"></i> <%= contract.proposal.job.description %></p>
        <% if (contract.status === "Running") {%>
        <div class="col-md-12">
          <h3 class="bg-warning border rounded p-2">
            This contract is currently running.
          </h3>
        </div>
        <% }else{ %>
        <div class="border rounded bg-success p-2">
          Please leave a feedback below.!
        </div>
        <form action="/user/<%= contract.proposal.user %>/review/<%= contract.proposal.job.employer %>/job/?title=<%= contract.proposal.job.title %>" method="post">
          <div class="mb-3">
            <label for="rating" class="form-label mt-2"><strong>Rating</strong></label>
            <fieldset class="starability-basic">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
              <input type="radio" id="<%= `${contract._id}_one` %>" name="review[rating]" value="1" />
              <label for="<%= `${contract._id}_one` %>" title="Terrible">1 star</label>
              <input type="radio" id="<%= `${contract._id}_two` %>" name="review[rating]" value="2" />
              <label for="<%= `${contract._id}_two` %>" title="Not good">2 stars</label>
              <input type="radio" id="<%= `${contract._id}_three` %>" name="review[rating]" value="3" />
              <label for="<%= `${contract._id}_three` %>" title="Average">3 stars</label>
              <input type="radio" id="<%= `${contract._id}_four` %>" name="review[rating]" value="4" />
              <label for="<%= `${contract._id}_four` %>" title="Very good">4 stars</label>
              <input type="radio" id="<%= `${contract._id}_five` %>" name="review[rating]" value="5" />
              <label for="<%= `${contract._id}_five` %>" title="Amazing">5 stars</label>
            </fieldset>
            <textarea class="form-control" rows="3" placeholder="Leave a comment here" id="floatingTextarea" name="review[text]"></textarea>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <% } %>
      </div>

    </div>
  </div>
</div>
<% } %>

<% }else{ %>
<div class="row">
  <div class="col-md-12">
    <h3 class="text-danger border rounded p-2">You currently have no contracts.</h3>
  </div>
</div>
<% } %>