<div class="row">
  <div class="col-md-7">
    <div class="profile">

      <h2>Profile Page</h2>
      <p><i class="bi bi-person-circle"></i> <%= foundUser.username %>
      </p>
      <p><i class="bi bi-info-square"></i> <%= foundUser.bio %>
      </p>
      <p><i class="bi bi-envelope"></i> <%= foundUser.email %>
      </p>
      <div class="d-flex justify-content-end">
        <a href="#" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit-user">Edit Bio</a>
        <form action="/user/<%= foundUser._id %>?_method=DELETE" method="post">
          <button type="submit" class="btn btn-danger ms-2">Delete Account</button>
        </form>
      </div>

    </div>
  </div>
  <div class="col-md-5">
    <div class="detail">
      <h4>Current Proposals:</h4>
      <% if (foundUser.jobs){ %>

      <% for (let job of foundUser.jobs){ %>
      <div class="mb-2">
        <div>
          <a href="#" class="btn btn-info"><%- job.title %></a>
        </div>
      </div>
      <% } %>

      <% } else { %>

      <p>You haven't applied for any job yet.!</p>

      <% } %>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade modal-lg" id="edit-user" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edit-jobLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="edit-jobLabel">Edit my Bio</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="/user/<%= foundUser._id %>?_method=PUT" class="validatedForm" novalidate>
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" name="user[email]" id="email" value="<%= foundUser.email %>" aria-describedby="titleHelp" required>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter email.!
            </div>
          </div>
          <div class="mb-3">
            <label for="bio" class="form-label">Bio:</label>
            <textarea type="text" class="form-control" name="user[bio]" id="bio" rows="3" cols="20" aria-describedby="bioHelp" required><%= foundUser.bio %></textarea>
            <div class="valid-feedback">
              Looks good!
            </div>
            <div class="invalid-feedback">
              Please enter bio.!
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<% if (foundUser.reviews.length) {%>

<div class="row">
  <div class="col-md-12">
    <div class="rating p-4 border rounded">
      <h4 class="mb-4">Feedback</h4>
      <ul class="list-unstyled">
        <% for (let review of foundUser.reviews){ %>
        <li class="mb-4 p-3 border rounded bg-light">
          <h5 class="mb-2"><%= review.jobTitle %></h5>
          <p class="starability-result" data-rating="<%= review.rating %>"></p>
          <p><%- review.text %></p>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>

<% } %>